* text=auto eol=lf

*.sh text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.diff text eol=lf
*.patch text eol=lf

*.png binary
*.gif binary
